* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------------------- font-family: 'Noto Nastaliq Urdu', serif;
*/

html,
body {
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

section {
    width: 100%;
    background-color: #f1f2f6;
}

.container-fluid {
    width: 100%;
}

.rtl {
    direction: rtl;
}



/*
------------------------------------ HEADER SECTION -------------------------------------
*/

header {
    width: 100%;
}

#logo {
    z-index: 1000;
    background-color: #23201dbe;
    width: 100%;
}

nav {
    width: 100%;
    padding: 0 auto;
    z-index: 999;
    top: 24%;
}

#drop-down {
    background-color: #23201dbe;
}

#logo img {
    width: 130px;
    margin: 0 auto;
    filter: brightness(200%);
    filter: contrast(150%);
}

#line-button {
    background-color: goldenrod;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.5s;
}

/* #close-button {
    background-color: rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
    color: #000;
    transition: 0.5s;
} */

#line-button:hover,
#line-button:active {
    background-color: #fff;
    border-color: goldenrod;
    color: goldenrod;
}

#lies {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    transition: 0.5s;
}

nav ul li {
    font-size: 16px;
    margin-right: 3%;
    transition: 0.5s;
}


#lies:hover,
#lies:active {
    color: rgb(255, 192, 34);
}


header .carousel-item button {
    background-color: goldenrod;
    color: #fff;
}

header .carousel-item img {
    filter: brightness(70%);
}

header .carousel-caption {
    margin-bottom: 22%;
}

.slide-heading {
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 65px;
    font-weight: 500;
}

header .carousel-caption button {
    margin-top: 8%;
    padding: 1.5% 4%;
    transition: 0.5s;
    font-weight: 700;
}

header .carousel-caption button:hover,
header .carousel-caption button:active {
    background-color: gold;
    border-color: gold;
    color: #441A05;
}










/*
------------------------------------ INTRODUCTION SECTION -------------------------------------
*/

#introduction {
    font-family: 'Noto Nastaliq Urdu', serif;
}

#introduction h2,
#introduction h3 {
    font-size: 20px;
    line-height: 230%;
}

#introduction h1 {
    font-size: 220%;
}

#introduction h2 {
    font-size: 170%;
    font-weight: 700;
    color: #441A05;
}

#prayer-time h3,
#prayer-time h1 {
    font-weight: 700;
}

#prayer {
    width: 80%;
    border-bottom: 2px solid black;
    margin: 0% auto;
    font-weight: 700;
}

#prayername {
    color: #441A05;
    padding-top: 3%;
}

#prayertime {
    color: #fff;
    margin-left: 70%;
    padding-top: 3.5%;
}


#introduction button {
    margin-top: 5%;
    margin-right: 4%;
    padding: 0.5% 2.5% 1.5% 2.5%;
    font-weight: 700;
    color: #fff;
    background-color: rgb(231, 166, 0);
    border-color: rgb(231, 166, 0);
    transition: 0.5s;
}

#introduction button:hover,
#introduction button:active {
    color: #441A05;
    background-color: gold;
    border-color: gold;
}

#prayer-time {
    background-image: linear-gradient(rgba(229, 142, 38,0.7), rgba(229, 142, 38,0.7)), url(images/bg/prayer-times-backgound\ -\ Copy.png);
    filter: contrast(180%);
    filter: saturate(120%);
    background-size: cover;
    background-position: center;
}

#intro-side {
    background-image: linear-gradient(to top,rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url(images/bg/3.jpeg);
    background-size: cover;
    background-position: center;
}









/*
------------------------------------ PROJECTS SECTION -------------------------------------
*/

#projects {
    font-family: 'Noto Nastaliq Urdu', serif;
}

#projects h1,
#projects h3,
#projects p {
    font-weight: 700;
}

#projects h1 {
    font-size: 55px;
    color: #441A05;
}

#projects .card-body {
    padding: 10% 7%;
}

#projects .card-body p {
    font-size: 16px;
    padding: 0 10%;
} 

#projects .card-body {
    background-image: url(images/bg/projects\ background\ pattern.png);
    background-size: cover;
    background-position: center;
}

#projects .card a {
    overflow: hidden !important;
    display: block !important;
}

#projects .card img {
    transform: scale(1.1);
    filter: brightness(60%);
    transition: all 0.5s;
}

#projects .card img:hover,
#projects .card img:active {
    transform: scale(1);
    filter: brightness(100%);
}

#projects .card-body a {
    text-decoration: none;
    color: #441A05;
    transition: 0.5s;
}

#projects .card-body a:hover,
#projects .card-body a:active {
    color: forestgreen;
}












/*
------------------------------------ EVENTS SECTION -------------------------------------
*/

#events {
    font-family: 'Noto Nastaliq Urdu', serif;
    padding-bottom: 5%;
}

.head-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/bg/events-background.jpeg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

#events-side {
    margin-top: -15%;
}

/* #cards-outline::before {
    content: "";
    top: 0.9375rem;
    left: 0.9375rem;
    right: 0.9375rem;
    bottom: 0.9375rem;
    border: 6px solid #fff;
    position: absolute;
    z-index: 1;
} */

#events h1,
#events h3,
#events p {
    font-weight: 700;
}

#events h1 {
    font-size: 55px;
}

.head-txt {
    color: #fff;
    width: 70%;
    margin: auto;
    padding-top: 6%;
}

#events .card {
    margin-bottom: 7%;
}

#events .card-body {
    padding: 7%;
    padding-top: 5%;
    padding-bottom: 15%;
    background-image: url(images/bg/prayer-times-backgound\ -\ Copy.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(218, 165, 32, 0.4);
}

#events .card-body p {
    font-size: 16px;
    padding: 0 6%;
} 

#events .card a {
    overflow: hidden !important;
    display: block !important;
}

#events .card img {
    transform: scale(1.1);
    filter: brightness(60%);
    transition: all 0.5s;
}

#events .card img:hover,
#events .card img:active {
    transform: scale(1) !important;
    filter: brightness(100%) !important;
}

#events .card-body a {
    text-decoration: none;
    color: forestgreen;
    transition: 0.5s;
}

#events .card-body a:hover,
#events .card-body a:active {
    color: #441A05;
}

#events button {
    font-weight: 700;
    color: #fff;
    background-color: rgb(21, 21, 21);
    border-color: rgb(21, 21, 21);
    padding: 1% 5% 2% 5%;
    margin-top: 5%;
    transition: 0.5s;
}

#events button:hover,
#events button:active {
    color: #441A05;
    background-color: rgb(238, 202, 0);
    border-color: rgb(238, 202, 0);
}












/*
------------------------------------ BOOKS SECTION -------------------------------------
*/


#books {
    font-family: 'Noto Nastaliq Urdu', serif;
    font-weight: 700;
    background-image: url(images/bg/projects\ background\ pattern.png);
    background-size: cover;
    background-position: center;
}

#books h1 {
    font-weight: 700;
    font-size: 55px;
    color: #441A05;
}

#book-img a {
    display: block !important;
    overflow: hidden !important;
}

#book-img img {
    transform: scale(1);
    transition: all 0.5s;
}

#book-img img:hover,
#book-img img:active {
    transform: scale(1.1);
}

#book-info h2 {
    font-size: 35px;
    font-weight: 700;
    color: #441A05;
    transition: all 0.5s;
}

#books h2:hover,
#books h2:hover {
    color: forestgreen;
}

#book-img {
    margin-right: 0;
}

#book-info h3 {
    font-size: 20px;
    font-weight: 700;
}

#book-info {
    background-color: rgba(255, 255, 255, 0.801);
    margin-left: -1.15%;
    padding: 3%;
}

#book-info p {
    font-size: 15px;
    line-height: 2rem;
}

#book-info button {
    margin-top: 5%;
    padding: 1% 6% 3% 6%;
    font-weight: 700;
    color: #fff;
    background-color: goldenrod;
    border-color: goldenrod;
    transition: 0.5s;
}


#book-info button:hover,
#book-info button:active {
    color: #441A05;
    background-color: rgb(241, 205, 0);
    border-color: rgb(241, 205, 0);
}

#slide-buttons {
    position: absolute;
    right: 0;
    bottom: 0.1%;
}

#slide-buttons button span {
    font-size: 50px;
    display: inline-block;
    background-color: goldenrod;
    color: #000;
    width: 70px;
    height: 70px;
    padding-top: 15%;
    transition: all 0.5s;
}

#slide-buttons button span:hover,
#slide-buttons button span:active {
    color: #fff;
    background-color: #441A05;
}











/*
-------------------------------- GALLERY SECTION ------------------------------------
*/

#gallery {
    background-color: #f1f2f6;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid div {
    display: block;
    overflow: hidden;
}

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    width: 100%;
    filter: brightness(70%);
    transform: scale(1);
    transition: all 0.5s;
}

.grid-item img:hover,
.grid-item img:active {
    filter: brightness(100%);
    transform: scale(1.06);
}









/*
------------------------------------ ADDRESS SECTION --------------------------------------
*/

#address {
    background-color: #fff;
}

#address img {
    width: 35%;
}

#address-list {
    width: 70%;
    margin: auto;
}

#address-list li {
    margin-top: 2%;
}

#add-ico {
    margin-right: 2%;
    font-size: 16px;
}

.social-ico li {
    list-style: none;
    display: inline-block;
    margin-right: 1%;
}

.social-ico a {
    text-decoration: none;
}

#face-ico,
#insta-ico,
#you-ico,
#link-ico {
    font-size: 110%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 20%;
    text-align: center;
    transition: 0.5s;
}

#face-ico {
    color: #4267B2;
    border: 1px solid #4267B2;
}

#insta-ico {
    color: #F56040;
    border: 1px solid #F56040;
}

#you-ico {
   color: #FF0000;
   border: 1px solid #FF0000;
}

#link-ico {
    color: #2867B2;
    border: 1px solid #2867B2;
}

#face-ico:hover,
#face-ico:active {
    background-color: #4267B2;
    color: #ffffff;
    border: 1px solid #4267B2;
}

#insta-ico:hover,
#insta-ico:active {
    background-color: #F56040;
    color: #ffffff;
    border: 1px solid #F56040;
}

#you-ico:hover,
#you-ico:active {
    background-color: #FF0000;
    color: #ffffff;
    border: 1px solid #FF0000;
}

#link-ico:hover,
#link-ico:active {
    background-color: #2867B2;
    color: #ffffff;
    border: 1px solid #2867B2;
}

.foot-list li {
    margin: 1% 0 2% 0;
}

.foot-list a {
    text-decoration: none;
    color: #0984e3;
}

#terms {
    margin-right: 60%;
}












/*
-------------------------------- FOOTER SECTION ------------------------------------
*/

footer {
    width: 100%;
    /* background-color: rgb(27, 27, 27); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg/footer\ background\ 3.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

footer img {
    width: 35%;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

footer a:hover,
footer a:active {
    color: #DB9E30;
}

footer li {
    list-style: none;
    margin-bottom: 5%;
}

footer li::before {
    content: "\203A";
    margin-right: 5%;
    font-size: 25px;
    font-weight: 900;
}

footer p,
footer li {
    font-size: 17px;
}

footer .row ul {
    width: 80%;
    margin: 0 auto;
}














